<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
	<connectionStrings>
		<add name="poc.con" connectionString="Data Source=CHRWA00000010\MSSQLEXPRESS2016;Initial Catalog=PCP;User ID=sa;Password=w0rdp@ss" providerName="System.Data.SqlClient" />
	</connectionStrings>
</configuration>