
@*<div class="row">

</div>*@

@*<div class="hr hr32 hr-dotted"></div>*@

<div class="row">
    <div class="col-xs-2 col-sm-2">
		<div class="widget-box">
			<div class="widget-header widget-header-flat">
				<h4 class="widget-title smaller">Overall Summary</h4>
			</div>
			<div class="widget-body">
				<div class="widget-main">
					<div class="infobox-container">

						<div class="infobox infobox-red">
							<div class="infobox-icon">
								<i class="ace-icon fa fa-calendar"></i>
							</div>

							<div class="infobox-data">
								<span class="infobox-data-number"><strong id="s1_campaign1"></strong></span>
								<div class="infobox-content" id="s1Div_campaign1"></div>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="widget-body">
				<div class="widget-main">
					<div class="infobox-container">

						<div class="infobox infobox-red">
							<div class="infobox-icon">
								<i class="ace-icon fa fa-calendar"></i>
							</div>

							<div class="infobox-data">
								<span class="infobox-data-number"><strong id="s1_campaign2"></strong></span>
								<div class="infobox-content" id="s1Div_campaign2"></div>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="widget-body">
				<div class="widget-main">
					<div class="infobox-container">

						<div class="infobox infobox-red">
							<div class="infobox-icon">
								<i class="ace-icon fa fa-calendar"></i>
							</div>

							<div class="infobox-data">
								<span class="infobox-data-number"><strong id="s1_campaign3"></strong></span>
								<div class="infobox-content" id="s1Div_campaign3"></div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		
    </div>

	<div class="col-xs-10 col-sm-10">
		<div class="widget-box">
			<div class="widget-header">
				<h4 class="widget-title">Campaign Overall Hiring Summary</h4>
			</div>
		</div>
		<div class="content">
			<div class="wrapper" id="divChartWrapper_campaign">
			</div>
		</div>
	</div>
</div>

@*<div class="hr hr32 hr-dotted"></div>*@

<div class="row">
	<div class="col-xs-2 col-sm-2">
		&nbsp;
	</div>

	<div class="col-xs-10 col-sm-10">
		<div>
			<table id="simple-table" class="table  table-bordered">
				<tbody>
					<tr>
						<td style="width:35%;">
							<table id="simple-table" class="table  table-bordered">
								<thead>
									<tr>
										<th colspan="2" class="center" id="th1_campaign"></th>
									</tr>
								</thead>
								<tbody id="tbody1_campaign">
									<tr>
										<td style="font-weight: bold;">0</td>
									</tr>
									<tr>
										<td style="font-weight: bold;">0</td>
									</tr>
									<tr>
										<td style="font-weight: bold;">0</td>
									</tr>
									<tr>
										<td style="font-weight: bold;">0</td>
									</tr>
								</tbody>
							</table>
						</td>
						<td style="width:30%;">
							<table id="simple-table" class="table  table-bordered">
								<thead>
									<tr>
										<th colspan="2" class="center" id="th2_campaign"></th>
									</tr>
								</thead>
								<tbody id="tbody2_campaign">
									<tr>
										<td style="font-weight: bold;">0</td>
									</tr>
									<tr>
										<td style="font-weight: bold;">0</td>
									</tr>
									<tr>
										<td style="font-weight: bold;">0</td>
									</tr>
									<tr>
										<td style="font-weight: bold;">0</td>
									</tr>
								</tbody>
							</table>
						</td>
						<td style="width:35%;">
							<table id="simple-table" class="table  table-bordered">
								<thead>
									<tr>
										<th colspan="2" class="center" id="th3_campaign"></th>
									</tr>
								</thead>
								<tbody id="tbody3_campaign">
									<tr>
										<td style="font-weight: bold;">0</td>
									</tr>
									<tr>
										<td style="font-weight: bold;">0</td>
									</tr>
									<tr>
										<td style="font-weight: bold;">0</td>
									</tr>
									<tr>
										<td style="font-weight: bold;">0</td>
									</tr>
								</tbody>
							</table>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>


