<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <connectionStrings>
	  <add name="WFMPCP.Connection" connectionString="Data Source=CHRWA00000010\MSSQLEXPRESS2016;Initial Catalog=WFMPCP;User ID=sa;Password=w0rdp@ss" providerName="System.Data.SqlClient" />

	  <add name="WFMPCP.Connection1" connectionString="Data Source=10.20.192.60;Initial Catalog=WFMPCP2;User ID=sa;Password=@2016" providerName="System.Data.SqlClient" />
    <!--PHTKM02DEV01 <add name="WFMPCP.Connection" connectionString="Data Source=10.18.192.60;Initial Catalog=WFMPCP;User ID=sa;Password=@2016" providerName="System.Data.SqlClient" />-->
  </connectionStrings>
  <appSettings>
    <add key="WFMUpload.Dir" value="C:\_work\WFM_PCP\trunk\docs\SampleFileGIDS\" /><!-- C:\_work\WFM_PCP\trunk\docs -->
	<add key="WFMUpload.UploadedFiles" value="C:\_work\WFM_PCP\trunk\docs\SampleFileGIDS\Uploaded\" />
    <add key="WFMUpload.Logs" value="C:\_work\WFM_PCP2\trunk\docs\UploaderFiles\Logs\" />
	  <add key="WFMUpload.TestFile" value="E:\WFMPCP\PCPFiles\2.41.135.csv" />
    <add key="WFMStartColumn" value="C1" />
    <add key="WFMEndColumn" value="AT143" />
    <!--END Column of PCP Upload Template. Change end column depend on the template data -->
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>